@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$primaryTextColor: #f5f5f5;
$primaryBtnBackgroundColor: #4185dd;
$primaryAboutMeContainerBackgroundColor: #a0a0a09d;
$primarySignatureColor: #0d161f;
$primaryWebColor: #000;
$scrollBarColor: #ffffff;
$secondaryBackgroundColor: #f0f0f0;
$tertiaryBackgroundColor: #222;
$hoverColor: #333;
$roboto: 'Roboto';
$poppins: 'Poppins', sans-serif; 

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: $primaryTextColor;
}

body::-webkit-scrollbar-thumb {
    background-color: $tertiaryBackgroundColor;
    border-radius: 15px;
    //border: 1px solid $scrollBarColor;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: $hoverColor;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
    // scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

.fa-github,
.fa-linkedin,
.fa-codepen {
    transition: 0.2s;
    &:hover {
        cursor: pointer;
    }
}


.fa-html5, .fa-css3, .fa-js, .fa-react, .fa-node-js, .fa-python, .fa-java, .fa-sass, .fa-git-alt, .fa-linux, .fa-database, .fa-cuttlefish {
    color: $primaryTextColor;
    border-radius: 3px;
    transition: 0.3s;
    
    &:hover {
        transform: rotate(360deg);
    }
    &:hover:before {
        font-family: $poppins;
        font-size: 21px;
    }
}

.fa-html5 {
    // background-color:#e34c26;
    &:hover:before {
        content: "HTML5";
    }
}

.fa-css3 {
    //background-color: #264de4;
    &:hover:before{
        content: "CSS3";
    }
}

.fa-js {
    //background-color: #f0db4f;
    &:hover:before{
        content: "JavaScript";
    }
}

.fa-react {
    //background-color: #61dbfb;
    &:hover:before{
        content: "React";
    }
}

.fa-node-js {
    //background-color: #68a063;
    &:hover:before{
        content: "NodeJS";
    }
}

.fa-python {
    // background-color: #4b8bbe;
    &:hover:before{
        content: "Python";
    }
}

.fa-java {
    //background-color: #f89820;
    &:hover:before{
        content: "Java";
    }
}

.fa-sass {
    //background-color: #c69;
    &:hover:before{
        content: "Sass";
    }
}

.fa-git-alt {
    // background-color: #f34f29;
    &:hover:before{
        content: "Git";
    }
}

.fa-linux {
    // background-color: white;
    color: $primaryWebColor;
    &:hover:before{
        content: "Linux";
    }
}

.fa-database {
    // background-color: #4DB33D;
    &:hover:before{
        content: "MongoDB";
    }
}

.fa-cuttlefish {
    &:hover:before {
        content: "C++";
    }
}

.fa-github {
    color: #333;
    &:hover {
        color: $primaryWebColor;
        text-shadow: 0 1px 3px $primaryWebColor;
    }
}

.fa-linkedin {
    color: #0e76a8;
    &:hover {
        color: #3094c2;
        text-shadow: 0 1px 3px $primaryWebColor;
    }
}

.home-container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../parallax_images/pexels-jéshoots-234527.jpg");
}

.about-me-img {
    opacity: 0.8;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../parallax_images/pexels-junior-teixeira-2047905.jpg");
}

.project-img {
    opacity: 0.8;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../parallax_images/pexels-jéshoots-234527.jpg");
}

.navbar {
    position: fixed;
    font-size: 18px;
    background-color: $primaryWebColor;
    width: 100%;
    z-index: 1;
    height: 50px;
    .main-nav {
        list-style-type: none;
        display: none;
        width: 100%;
        a {
            padding: 3px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:active {
                border-radius: 3px;
                background-color: $primaryBtnBackgroundColor;
            }
        }
    }
    .logo {
        color: white;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    #nav-links {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
    }

    .active {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primaryWebColor;
    }
}
@keyframes rotateText {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}
.home-container {
    min-height: 100%;
    overflow: hidden;
    color: $primaryTextColor;

    font-size: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        text-align: center;
    }
    .flip {
        height: 50px;
        overflow: hidden;
    }
    .flip > div > div {
        color : $primaryTextColor;
        display: inline-block;
        padding: 4px 12px;
        height:45px;
        margin-bottom:45px;
    }
    .flip div:first-child {
        animation: rotateText 6s ease-in-out infinite;
    }
    .view-portfolio-btn {
        background-color: transparent;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: auto;
        padding: 5px 5px;
        gap: 10px;
        color: $primaryTextColor;
        border: 1px solid $primaryTextColor;

        transition: 0.2s all ease-in-out;
        &:hover {
            background-color: $primaryBtnBackgroundColor;
            border: 1px solid $primaryBtnBackgroundColor;
            .fas {
                transform: rotate(90deg);
            }
        }
    }
}
.fas {
    transition: 0.2s all ease;
}

.about-me {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    //border: 1px dashed blue;

    align-items: center;
    gap: 10px;
    .about-me-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        //border: 1px solid pink;
        width: 50%;

        .about-me-information {
            text-align: center;
            .inline-texts {
                display: inline;
                color: $primaryBtnBackgroundColor;
            }
        }
    }
    .skills-and-technologies {
        //border: 1px solid black;
        border-radius: 5px;
        width: 50%;
        background-color: $secondaryBackgroundColor;
        .about-me-information {
            text-align: center;

            .passion-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .passion {
                    //border: 1px solid black;
                    margin: 15px;
                    .fas {
                        font-size: 60px;
                        transition: 0.2s;
                    }
                    .fa-keyboard {
                        &:hover {
                            color: $primaryBtnBackgroundColor;
                        }
                    }
                    .fa-chart-bar {
                        &:hover {
                            color: #cf5050;
                        }
                    }
                    .fa-drafting-compass {
                        &:hover {
                            color: #b3dd75;
                        }
                    }
                    h2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .about-me-img {
        min-width: 100%;
        min-height: 283px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .border {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3 {
                color: $primaryTextColor;
                font-size: 33px;
            }
            .view-resume-btn {
                width: 150px;
                background-color: transparent;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                padding: 5px 5px;
                gap: 10px;
                color: $primaryTextColor;
                border: 1px solid $primaryTextColor;

                transition: 0.2s all ease-in-out;
                &:hover {
                    background-color: $primaryBtnBackgroundColor;
                    border: 1px solid $primaryBtnBackgroundColor;
                }
            }
        }
    }
    .technologies-container {
        border-radius: 5px;
        width: 80%;
        display: flex;
        //border: 1px solid black;
        .tech-wrapper {
            display: flex;
            width: 100%;
            //border: 1px solid blue;
            //gap: 10px;
            .tech-container {
                //border: 1px solid red;
                width: 100%;
                text-align: center;
                font-size: 20px;
                transition: 0.2s;
                &:hover {
                    box-shadow: 0 0 5px 1px $primaryWebColor;
                    border-radius: 2px;
                }
                
                .technologies {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    padding: 0;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //border: 1px solid blue;
                        padding: 5px;
                        //padding: 10px;
                        list-style-type: none;
                        text-align: center;
                        font-size: 60px;
                        transition: 0.2s;
                        border-radius: 2px;
                        margin: 2px;
                      
                        &:hover {
                            box-shadow: 0 0 2px 1px $primaryWebColor;
                            text-shadow: 1px 1px 2px $primaryWebColor;
                        }
                        
                    }
                    li.html-icon {
                        background-color:#e34c26;
                    }
                    li.css-icon {
                        background-color: #264de4;
                    }
                    li.js-icon {
                        background-color: #f0db4f;
                    }
                    li.react-icon {
                        background-color: #61dbfb;
                    }
                    li.nodejs-icon {
                        background-color: #68a063;
                    }
                    li.python-icon {
                        background-color: #4b8bbe;
                    }
                    li.java-icon {
                        background-color: #f89820;
                    }
                    li.sass-icon {
                        background-color: #c69;
                    }
                    li.linux-icon {
                        background-color: white;
                    }
                    li.database-icon {
                        background-color: #4DB33D;
                    }
                    li.git-icon {
                        background-color: #f34f29;
                    }
                    li.cpp-icon {
                        background-color: #165CAA;
                    }
                }
            }
            .link-container {
                width: 100%;
                //border: 1px solid pink;
                text-align: center;
                font-size: 20px;
                transition: 0.2s;
                &:hover {
                    box-shadow: 0 0 5px 1px $primaryWebColor;
                    border-radius: 2px;
                }
                .personal-links {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 0;
                    li {
                        padding: 10px;
                        list-style-type: none;
                        font-size: 60px;
                        cursor: default;
                        i {
                            transition: 0.2s;
                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.project-section {
    min-width: 100%;
    min-height: 100%;
    .section-title {
        width: 100%;
        text-align: center;
        h3 {
            font-size: 33px;
        }
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    .project-container {
        min-height: 90%;
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .project-select-container {
            gap: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin: 10px 0;
            width: 50%;
            .project-select {
                transition: 0.2s all ease-in-out;
                text-align: center;
                &:hover {
                    background-color: $primaryBtnBackgroundColor;
                    color: $primaryTextColor;
                    cursor: pointer;
                }
                &:active {
                    background-color: $primaryBtnBackgroundColor;
                }
            }
        }
        //border: 1px solid blue;
        .project-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            //border: 1px dashed purple;
            padding: 10px;

            .project {
                //border: 1px solid pink;
                position: relative;
                width: 100%;
                height: 350px;
                transition: 0.2s;

                .project-img {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    position: relative;
                    transition: 0.2s all;
                }
            }

            .project-information {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.8);
                overflow: hidden;
                color: white;
                width: 100%;
                height: 0;
                transition: 0.5s ease;
            }
            .project:hover .project-information {
                height: 100%;
            }
            .text {
                width: 99%;
                height: 85%;
                margin: 5px;
                color: white;
                font-size: 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                p {
                    height: 120px;
                    overflow-y: scroll;
                }
                p::-webkit-scrollbar {
                    width: 6px;
                }

                p::-webkit-scrollbar-track {
                    background-color: $primaryTextColor;
                }

                p::-webkit-scrollbar-thumb {
                    background-color: $primarySignatureColor;
                    border-radius: 15px;
                    border: 1px solid $scrollBarColor;
                }
                .technologies-used {
                    display: flex;
                    gap: 10px;
                    .technologies {
                        border: 1px solid $primaryTextColor;
                        border-radius: 5px;
                        padding: 0 5px;
                    }
                }
                .link-github {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: $primaryTextColor;
                    border: 2px solid $primaryTextColor;
                    background-color: $primaryWebColor;
                    padding: 0 5px;
                    border-radius: 1px;
                    text-decoration: none;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        background-color: $primaryBtnBackgroundColor;
                        border: 2px solid $primaryBtnBackgroundColor;
                    }
                }
                .link-site {
                    position: absolute;
                    bottom: 0;
                    left: 100px;
                    color: $primaryTextColor;
                    border: 2px solid $primaryTextColor;
                    background-color: $primaryWebColor;
                    padding: 0 5px;
                    border-radius: 1px;
                    text-decoration: none;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        background-color: $primaryBtnBackgroundColor;
                        border: 2px solid $primaryBtnBackgroundColor;
                    }
                }
            }
        }
    }
}

.contact-me-container {
    width: 100%;
    height: 30%;
    background-color: $secondaryBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    .section-content {
        height: 60%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .far {
            font-size: 60px;
        }
        a {
            font-size: 24px;
            text-decoration: none;
            color: $primarySignatureColor;
            border: 2px solid $primaryWebColor;
            transition: 0.2s;
            padding: 6px 9px;
            &:hover {
                background-color: $primaryBtnBackgroundColor;
                color: $primaryTextColor;
                border: 2px solid $primaryBtnBackgroundColor;
            }
        }
    }
}

.footer-container {
    width: 100%;
    background-color: $tertiaryBackgroundColor;
    overflow: hidden;
    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primaryTextColor;
        overflow: hidden;
        .links {
            margin: 15px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            font-size: 33px;
            i {
                background-color: $hoverColor;
                padding: 10px;
                color: $secondaryBackgroundColor;
                transition: 0.2s all ease-in-out;
                &:hover {
                    background-color: $primaryBtnBackgroundColor;
                    cursor: pointer;
                }
            }
        }
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .navbar {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
        .main-nav {
            width: 100%;
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
            height: 100%;
            a {
                margin: 0;
                height: 100%;
                transition: 0.2s all;
                display: flex;
                justify-content: end;
                align-items: center;
                padding: 0 5px;
                &:hover {
                    background-color: $primaryBtnBackgroundColor;
                }
            }
        }

        #nav-links {
            margin-left: 40px;
        }

        .navbar-toggle {
            display: none;
        }

        #nav-links:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

    .contact-me-container {
        height: 35%;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .navbar {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
        .main-nav {
            width: 100%;
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
            height: 100%;
            a {
                margin: 0;
                height: 100%;
                transition: 0.2s all;
                display: flex;
                justify-content: end;
                align-items: center;
                padding: 0 5px;
                &:hover {
                    background-color: $primaryBtnBackgroundColor;
                }
            }
        }

        #nav-links {
            margin-left: 40px;
        }

        .navbar-toggle {
            display: none;
        }

        #nav-links:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

    .about-me {
        min-height: 90%;
        display: flex;
        flex-direction: column;
        //border: 1px dashed blue;

        align-items: center;
        gap: 10px;
        .about-me-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            //border: 1px solid pink;
            width: 60%;
        }
        .technologies-container {
            border-radius: 5px;
            width: 80%;
            .tech-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //gap: 10px;
                width: 100%;
                //border: 1px solid black;
                .tech-container {
                    text-align: center;
                    //border: 1px solid blue;
                    .technologies {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        padding: 0;
                        li {
                            //border: 1px solid blue;

                            padding: 10px;

                            list-style-type: none;
                            text-align: center;
                            font-size: 60px;
                        }
                    }
                }

                .link-container {
                    //border: 1px solid pink;
                    .personal-links {
                        display: flex;
                        //flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        li {
                            padding: 10px;
                            list-style-type: none;
                            font-size: 60px;
                            transition: 0.2s;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
    .project-section {
        .project-container {
            //border: 1px solid blue;
            .project-wrapper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                //border: 1px dashed purple;
                padding: 10px;
            }
        }
    }

    .contact-me-container {
        height: 45%;
    }
    .footer-container {
        height: 25%;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
        .main-nav {
            width: 100%;
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
            height: 100%;
            a {
                margin: 0;
                height: 100%;
                transition: 0.2s all;
                display: flex;
                justify-content: end;
                align-items: center;
                padding: 0 5px;
                &:hover {
                    background-color: $primaryBtnBackgroundColor;
                }
            }
        }

        #nav-links {
            margin-left: 40px;
        }

        .navbar-toggle {
            display: none;
        }

        #nav-links:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

    .about-me {
        min-height: 90%;
        display: flex;
        flex-direction: column;
        //border: 1px dashed blue;
        align-items: center;
        gap: 10px;
        .about-me-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            //border: 1px solid pink;
            width: 80%;
            .skills-and-technologies {
                width: 60%;
            }
        }
        .technologies-container {
            border-radius: 5px;
            width: 80%;
            .tech-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //gap: 10px;
                width: 100%;
                //border: 1px solid black;
                .tech-container {
                    text-align: center;
                    //border: 1px solid blue;
                    .technologies {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        padding: 0;
                        li {
                            //border: 1px solid blue;

                            padding: 10px;

                            list-style-type: none;
                            text-align: center;
                            font-size: 60px;
                        }
                    }
                }

                .link-container {
                    //border: 1px solid pink;
                    .personal-links {
                        display: flex;
                        //flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        li {
                            padding: 10px;
                            list-style-type: none;
                            font-size: 60px;
                            transition: 0.2s;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
    .project-section {
        .project-container {
            //border: 1px solid blue;
            .project-wrapper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                //border: 1px dashed purple;
                padding: 10px;
            }
        }
    }

    .contact-me-container {
        width: 100%;
        height: 45%;
        background-color: $secondaryBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        .section-content {
            width: 35%;
        }
    }
    .footer-container {
        height: 15%;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .technologies-container {
        border-radius: 5px;
        width: 80%;
        .tech-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            .tech-container {
                text-align: center;
                .technologies {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    padding: 0;
                    li {
                        //border: 1px solid blue;

                        padding: 10px;

                        list-style-type: none;
                        text-align: center;
                        font-size: 60px;
                    }
                }
            }

            .link-container {
                //border: 1px solid pink;
                .personal-links {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li {
                        padding: 10px;
                        list-style-type: none;
                        font-size: 60px;
                        transition: 0.2s;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
    .contact-me-container {
        width: 100%;
        background-color: $secondaryBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        .section-content {
            width: 35%;
        }
    }

    .footer-container {
        height: 18%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .about-me {
        min-height: 90%;
        display: flex;
        flex-direction: column;
        //border: 1px dashed blue;

        align-items: center;
        gap: 10px;
        .about-me-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            //border: 1px solid pink;
            width: 80%;
        }
        .skills-and-technologies {
            width: 60%;
            .about-me-information {
                .passion-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .passion {
                        flex: 0 0 calc(25% - 20px);
                    }
                }
                .passion-container:li:last-child:nth-child(3n - 2) {
                    grid-column-end: 5;
                }
            }
        }
        .technologies-container {
            border-radius: 5px;
            width: 80%;
            .tech-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //gap: 10px;
                width: 100%;
                //border: 1px solid black;
                .tech-container {
                    text-align: center;
                    //border: 1px solid blue;
                    .technologies {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        padding: 0;
                        li {
                            //border: 1px solid blue;
                            padding: 10px;
                            list-style-type: none;
                            text-align: center;
                            font-size: 60px;
                        }
                    }
                }

                .link-container {
                    //border: 1px solid pink;
                    .personal-links {
                        display: flex;
                        //flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        li {
                            padding: 10px;
                            list-style-type: none;
                            font-size: 60px;
                            transition: 0.2s;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }

    .project-section {
        .project-container {
            //border: 1px solid blue;
            .project-wrapper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                //border: 1px dashed purple;
                padding: 10px;
                .project {
                    .project-information {
                        .text {
                            .technologies-used {
                                overflow-x: scroll;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact-me-container {
        width: 100%;
        height: 45%;
        background-color: $secondaryBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        .section-content {
            width: 50%;
        }
    }
    .footer-container {
        height: 20%;
    }
    .project-section {
        .project-container {
            .project-select-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .project-select {
                    flex: 0 0 calc(25% - 20px);
                    width: 100px;
                    padding: 5px;
                }
            }
            //border: 1px solid blue;
            .project-wrapper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                //border: 1px dashed purple;
                padding: 10px;
                .project {
                    .project-information {
                        .text {
                            .technologies-used {
                                overflow-x: scroll;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    /* CSS */
    .about-me {
        min-height: 90%;
        display: flex;
        flex-direction: column;
        //border: 1px dashed blue;

        align-items: center;
        gap: 10px;
        .about-me-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            //border: 1px solid pink;
            width: 80%;
        }
        .skills-and-technologies {
            width: 60%;
            .about-me-information {
                .passion-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .passion {
                        flex: 0 0 calc(25% - 20px);
                    }
                }
                .passion-container:li:last-child:nth-child(3n - 2) {
                    grid-column-end: 5;
                }
            }
        }
        .technologies-container {
            border-radius: 5px;
            width: 80%;
            .tech-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //gap: 10px;
                width: 100%;
                //border: 1px solid black;
                .tech-container {
                    text-align: center;
                    //border: 1px solid blue;
                    .technologies {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 0;
                        li {
                            //border: 1px solid blue;

                            padding: 10px;

                            list-style-type: none;
                            text-align: center;
                            font-size: 60px;
                        }
                    }
                }

                .link-container {
                    //border: 1px solid pink;
                    .personal-links {
                        display: flex;
                        //flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        li {
                            padding: 10px;
                            list-style-type: none;
                            font-size: 60px;
                            transition: 0.2s;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }

    .project-section {
        .project-container {
            .project-select-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .project-select {
                    flex: 0 0 calc(25% - 20px);
                    width: 100px;
                    padding: 5px;
                }
            }
            //border: 1px solid blue;
            .project-wrapper {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                //border: 1px dashed purple;
                padding: 10px;
                .project {
                    .project-information {
                        .text {
                            .technologies-used {
                                overflow-x: scroll;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact-me-container {
        width: 100%;
        height: 55%;
        background-color: $secondaryBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        .section-content {
            width: 50%;
        }
    }
    .footer-container {
        height: 23%;
    }
}
