@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.8em;
  font-family: "Montserrat", sans-serif;
}

.fa-github,
.fa-linkedin,
.fa-codepen {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-codepen:hover {
  cursor: pointer;
}

.fa-html5, .fa-css3, .fa-js, .fa-react, .fa-node-js, .fa-python, .fa-java, .fa-sass, .fa-git {
  color: #f5f5f5;
  border-radius: 3px;
}

.fa-html5 {
  background-color: #e34c26;
}

.fa-css3 {
  background-color: #264de4;
}

.fa-js {
  background-color: #f0db4f;
}

.fa-react {
  background-color: #61dbfb;
}

.fa-node-js {
  background-color: #68a063;
}

.fa-python {
  background-color: #4b8bbe;
}

.fa-java {
  background-color: #f89820;
}

.fa-sass {
  background-color: #c69;
}

.fa-git {
  background-color: #f34f29;
}

.fa-github {
  color: #333;
}

.fa-github:hover {
  color: #000;
  text-shadow: 0 1px 3px #000;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-linkedin:hover {
  color: #3094c2;
  text-shadow: 0 1px 3px #000;
}

.home-container {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../parallax_images/pexels-jéshoots-234527.jpg");
}

.about-me-img {
  opacity: 0.8;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../parallax_images/pexels-junior-teixeira-2047905.jpg");
}

.project-img {
  opacity: 0.8;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../parallax_images/pexels-jéshoots-234527.jpg");
}

.navbar {
  position: fixed;
  font-size: 18px;
  background-color: #000;
  width: 100%;
  z-index: 1;
  height: 50px;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
  width: 100%;
}

.navbar .main-nav a {
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar .main-nav a:active {
  border-radius: 3px;
  background-color: #4185dd;
}

.navbar .logo {
  color: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.navbar #nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.navbar .active {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

@-webkit-keyframes rotateText {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes rotateText {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.home-container {
  min-height: 100%;
  overflow: hidden;
  color: #f5f5f5;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.home-container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-container .flip {
  height: 50px;
  overflow: hidden;
}

.home-container .flip > div > div {
  color: #f5f5f5;
  display: inline-block;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
}

.home-container .flip div:first-child {
  -webkit-animation: rotateText 6s ease-in-out infinite;
          animation: rotateText 6s ease-in-out infinite;
}

.home-container .view-portfolio-btn {
  background-color: transparent;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: auto;
  padding: 5px 5px;
  gap: 10px;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.home-container .view-portfolio-btn:hover {
  background-color: #4185dd;
  border: 1px solid #4185dd;
}

.home-container .view-portfolio-btn:hover .fas {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fas {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.about-me {
  min-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.about-me .about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.about-me .about-me-container .about-me-information {
  text-align: center;
}

.about-me .about-me-container .about-me-information .inline-texts {
  display: inline;
  color: #4185dd;
}

.about-me .skills-and-technologies {
  border-radius: 5px;
  width: 50%;
  background-color: #f0f0f0;
}

.about-me .skills-and-technologies .about-me-information {
  text-align: center;
}

.about-me .skills-and-technologies .about-me-information .passion-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.about-me .skills-and-technologies .about-me-information .passion-container .passion {
  margin: 15px;
}

.about-me .skills-and-technologies .about-me-information .passion-container .passion .fas {
  font-size: 60px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me .skills-and-technologies .about-me-information .passion-container .passion .fa-keyboard:hover {
  color: #4185dd;
}

.about-me .skills-and-technologies .about-me-information .passion-container .passion .fa-chart-bar:hover {
  color: #cf5050;
}

.about-me .skills-and-technologies .about-me-information .passion-container .passion .fa-drafting-compass:hover {
  color: #b3dd75;
}

.about-me .skills-and-technologies .about-me-information .passion-container .passion h2 {
  font-size: 15px;
}

.about-me .about-me-img {
  min-width: 100%;
  min-height: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me-img .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-me .about-me-img .border h3 {
  color: #f5f5f5;
  font-size: 33px;
}

.about-me .about-me-img .border .view-resume-btn {
  width: 150px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
  gap: 10px;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.about-me .about-me-img .border .view-resume-btn:hover {
  background-color: #4185dd;
  border: 1px solid #4185dd;
}

.about-me .technologies-container {
  border-radius: 5px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me .technologies-container .tech-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about-me .technologies-container .tech-wrapper .tech-container {
  width: 100%;
  text-align: center;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me .technologies-container .tech-wrapper .tech-container:hover {
  -webkit-box-shadow: 0 0 5px 1px #000;
          box-shadow: 0 0 5px 1px #000;
  border-radius: 2px;
}

.about-me .technologies-container .tech-wrapper .tech-container .technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

.about-me .technologies-container .tech-wrapper .tech-container .technologies li {
  padding: 5px;
  list-style-type: none;
  text-align: center;
  font-size: 60px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me .technologies-container .tech-wrapper .tech-container .technologies li .fab {
  padding: 5px;
}

.about-me .technologies-container .tech-wrapper .tech-container .technologies li:hover {
  text-shadow: 1px 1px 2px #000;
}

.about-me .technologies-container .tech-wrapper .link-container {
  width: 100%;
  text-align: center;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me .technologies-container .tech-wrapper .link-container:hover {
  -webkit-box-shadow: 0 0 5px 1px #000;
          box-shadow: 0 0 5px 1px #000;
  border-radius: 2px;
}

.about-me .technologies-container .tech-wrapper .link-container .personal-links {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0;
}

.about-me .technologies-container .tech-wrapper .link-container .personal-links li {
  padding: 10px;
  list-style-type: none;
  font-size: 60px;
  cursor: default;
}

.about-me .technologies-container .tech-wrapper .link-container .personal-links li i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me .technologies-container .tech-wrapper .link-container .personal-links li i:hover {
  opacity: 0.7;
  cursor: pointer;
}

.project-section {
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-section .section-title {
  width: 100%;
  text-align: center;
}

.project-section .section-title h3 {
  font-size: 33px;
}

.project-section .project-container {
  min-height: 90%;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-section .project-container .project-select-container {
  gap: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px 0;
  width: 50%;
}

.project-section .project-container .project-select-container .project-select {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  text-align: center;
}

.project-section .project-container .project-select-container .project-select:hover {
  background-color: #4185dd;
  color: #f5f5f5;
  cursor: pointer;
}

.project-section .project-container .project-select-container .project-select:active {
  background-color: #4185dd;
}

.project-section .project-container .project-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.project-section .project-container .project-wrapper .project {
  position: relative;
  width: 100%;
  height: 350px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project-section .project-container .project-wrapper .project .project-img {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.project-section .project-container .project-wrapper .project-information {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  color: white;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project-section .project-container .project-wrapper .project:hover .project-information {
  height: 100%;
}

.project-section .project-container .project-wrapper .text {
  width: 99%;
  height: 85%;
  margin: 5px;
  color: white;
  font-size: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project-section .project-container .project-wrapper .text p {
  height: 120px;
  overflow-y: scroll;
}

.project-section .project-container .project-wrapper .text p::-webkit-scrollbar {
  width: 6px;
}

.project-section .project-container .project-wrapper .text p::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.project-section .project-container .project-wrapper .text p::-webkit-scrollbar-thumb {
  background-color: #0d161f;
  border-radius: 15px;
  border: 1px solid #ffffff;
}

.project-section .project-container .project-wrapper .text .technologies-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.project-section .project-container .project-wrapper .text .technologies-used .technologies {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 0 5px;
}

.project-section .project-container .project-wrapper .text .link-github {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  background-color: #000;
  padding: 0 5px;
  border-radius: 1px;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-section .project-container .project-wrapper .text .link-github:hover {
  background-color: #4185dd;
  border: 2px solid #4185dd;
}

.project-section .project-container .project-wrapper .text .link-site {
  position: absolute;
  bottom: 0;
  left: 100px;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  background-color: #000;
  padding: 0 5px;
  border-radius: 1px;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-section .project-container .project-wrapper .text .link-site:hover {
  background-color: #4185dd;
  border: 2px solid #4185dd;
}

.contact-me-container {
  width: 100%;
  height: 30%;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-me-container .section-content {
  height: 60%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact-me-container .section-content .far {
  font-size: 60px;
}

.contact-me-container .section-content a {
  font-size: 24px;
  text-decoration: none;
  color: #0d161f;
  border: 2px solid #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 6px 9px;
}

.contact-me-container .section-content a:hover {
  background-color: #4185dd;
  color: #f5f5f5;
  border: 2px solid #4185dd;
}

.footer-container {
  width: 100%;
  background-color: #222;
  overflow: hidden;
}

.footer-container .footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
  overflow: hidden;
}

.footer-container .footer-content .links {
  margin: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  font-size: 33px;
}

.footer-container .footer-content .links i {
  background-color: #333;
  padding: 10px;
  color: #f0f0f0;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.footer-container .footer-content .links i:hover {
  background-color: #4185dd;
  cursor: pointer;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .navbar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  .navbar .main-nav a {
    margin: 0;
    height: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  .navbar .main-nav a:hover {
    background-color: #4185dd;
  }
  .navbar #nav-links {
    margin-left: 40px;
  }
  .navbar .navbar-toggle {
    display: none;
  }
  .navbar #nav-links:hover {
    color: white;
  }
  .contact-me-container {
    height: 35%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  .navbar .main-nav a {
    margin: 0;
    height: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  .navbar .main-nav a:hover {
    background-color: #4185dd;
  }
  .navbar #nav-links {
    margin-left: 40px;
  }
  .navbar .navbar-toggle {
    display: none;
  }
  .navbar #nav-links:hover {
    color: white;
  }
  .about-me {
    min-height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .about-me .about-me-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }
  .about-me .technologies-container {
    border-radius: 5px;
    width: 80%;
  }
  .about-me .technologies-container .tech-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-me .technologies-container .tech-wrapper .tech-container {
    text-align: center;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies li {
    padding: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 60px;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li {
    padding: 10px;
    list-style-type: none;
    font-size: 60px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li:hover {
    opacity: 0.7;
  }
  .project-section .project-container .project-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .contact-me-container {
    height: 45%;
  }
  .footer-container {
    height: 25%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  .navbar .main-nav a {
    margin: 0;
    height: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  .navbar .main-nav a:hover {
    background-color: #4185dd;
  }
  .navbar #nav-links {
    margin-left: 40px;
  }
  .navbar .navbar-toggle {
    display: none;
  }
  .navbar #nav-links:hover {
    color: white;
  }
  .about-me {
    min-height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .about-me .about-me-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .about-me .about-me-container .skills-and-technologies {
    width: 60%;
  }
  .about-me .technologies-container {
    border-radius: 5px;
    width: 80%;
  }
  .about-me .technologies-container .tech-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-me .technologies-container .tech-wrapper .tech-container {
    text-align: center;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies li {
    padding: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 60px;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li {
    padding: 10px;
    list-style-type: none;
    font-size: 60px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li:hover {
    opacity: 0.7;
  }
  .project-section .project-container .project-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .contact-me-container {
    width: 100%;
    height: 45%;
    background-color: #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-me-container .section-content {
    width: 35%;
  }
  .footer-container {
    height: 15%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .technologies-container {
    border-radius: 5px;
    width: 80%;
  }
  .technologies-container .tech-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    width: 100%;
  }
  .technologies-container .tech-wrapper .tech-container {
    text-align: center;
  }
  .technologies-container .tech-wrapper .tech-container .technologies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .technologies-container .tech-wrapper .tech-container .technologies li {
    padding: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 60px;
  }
  .technologies-container .tech-wrapper .link-container .personal-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .technologies-container .tech-wrapper .link-container .personal-links li {
    padding: 10px;
    list-style-type: none;
    font-size: 60px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .technologies-container .tech-wrapper .link-container .personal-links li:hover {
    opacity: 0.7;
  }
  .contact-me-container {
    width: 100%;
    background-color: #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-me-container .section-content {
    width: 35%;
  }
  .footer-container {
    height: 18%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .about-me {
    min-height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .about-me .about-me-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .about-me .skills-and-technologies {
    width: 60%;
  }
  .about-me .skills-and-technologies .about-me-information .passion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-me .skills-and-technologies .about-me-information .passion-container .passion {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 20px);
            flex: 0 0 calc(25% - 20px);
  }
  .about-me .skills-and-technologies .about-me-information .passion-container:li:last-child:nth-child(3n - 2) {
    grid-column-end: 5;
  }
  .about-me .technologies-container {
    border-radius: 5px;
    width: 80%;
  }
  .about-me .technologies-container .tech-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-me .technologies-container .tech-wrapper .tech-container {
    text-align: center;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies li {
    padding: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 60px;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li {
    padding: 10px;
    list-style-type: none;
    font-size: 60px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li:hover {
    opacity: 0.7;
  }
  .project-section .project-container .project-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
  .project-section .project-container .project-wrapper .project .project-information .text .technologies-used {
    overflow-x: scroll;
  }
  .contact-me-container {
    width: 100%;
    height: 45%;
    background-color: #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-me-container .section-content {
    width: 50%;
  }
  .footer-container {
    height: 20%;
  }
  .project-section .project-container .project-select-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-section .project-container .project-select-container .project-select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 20px);
            flex: 0 0 calc(25% - 20px);
    width: 100px;
    padding: 5px;
  }
  .project-section .project-container .project-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
  .project-section .project-container .project-wrapper .project .project-information .text .technologies-used {
    overflow-x: scroll;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .about-me {
    min-height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .about-me .about-me-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .about-me .skills-and-technologies {
    width: 60%;
  }
  .about-me .skills-and-technologies .about-me-information .passion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-me .skills-and-technologies .about-me-information .passion-container .passion {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 20px);
            flex: 0 0 calc(25% - 20px);
  }
  .about-me .skills-and-technologies .about-me-information .passion-container:li:last-child:nth-child(3n - 2) {
    grid-column-end: 5;
  }
  .about-me .technologies-container {
    border-radius: 5px;
    width: 80%;
  }
  .about-me .technologies-container .tech-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-me .technologies-container .tech-wrapper .tech-container {
    text-align: center;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .about-me .technologies-container .tech-wrapper .tech-container .technologies li {
    padding: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 60px;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li {
    padding: 10px;
    list-style-type: none;
    font-size: 60px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .about-me .technologies-container .tech-wrapper .link-container .personal-links li:hover {
    opacity: 0.7;
  }
  .project-section .project-container .project-select-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-section .project-container .project-select-container .project-select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 20px);
            flex: 0 0 calc(25% - 20px);
    width: 100px;
    padding: 5px;
  }
  .project-section .project-container .project-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
  .project-section .project-container .project-wrapper .project .project-information .text .technologies-used {
    overflow-x: scroll;
  }
  .contact-me-container {
    width: 100%;
    height: 55%;
    background-color: #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-me-container .section-content {
    width: 50%;
  }
  .footer-container {
    height: 23%;
  }
}
/*# sourceMappingURL=style.css.map */