:root {
  --primaryTextColor: #000;
  --secondaryTextColor: #f5f5f5;

  --specialText: #dd417d;
  // dd4580
  --mainColor: #333;
  --secondaryColor: #eeeeee;

  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", sans-serif;

  --background: #1b242f;
  --backgroundsecondary: #202731;
  --gradientColor: #1d2c3d;

  --buttonBackground: #5174a1;
  --cardBackground: #d4d4d4;
  --hoverEffect: #616161;

  --projectCard: #26313d;

  --contactForm: #cccccc;
  --linkColor: #4a79d1;

  --projectWrapperColor: #f5f5f5;
  --aboutMeBoxColor: #ebeff3;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 46px;
}

ul {
  list-style-type: none;
}

.my-name {
  color: var(--specialText);
}

.title {
  font-family: var(--oswald);
  text-decoration: underline;
}

.nav-bar {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  li {
    float: right;
    a {
      overflow: hidden;
      display: block;
      text-align: center;
      padding: 15px 15px;
      color: var(--secondaryTextColor);
      text-align: center;
      text-decoration: none;
      transition: 0.2s;
    }
    .icon {
      display: none;
    }
    a:hover {
      color: var(--specialText);
      text-decoration: underline;
    }
  }
}

#particles-js {
  height: 100%;
  width: 100%;
}

.section-0 {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: var(--background);
  overflow: auto;
  border-bottom: 1px solid var(--secondaryColor);

  z-index: 1;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, var(--backgroundsecondary) 0%, var(--gradientColor) 100%);
  overflow: auto;
  height: 100vh;

  border-bottom: 1px solid var(--mainColor);
}

.section-2 {
  overflow: auto;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--backgroundsecondary);
}

.section-3 {
  overflow: auto;
  background: linear-gradient(to bottom left, var(--backgroundsecondary) 0%, var(--gradientColor) 100%);
  border-bottom: 1px solid var(--backgroundsecondary);
}

#particles-js {
  width: 100%;
  height: 100%;
  
}

.main-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 1200px;
  max-width: 80%;

  margin: 0 auto;
  color: var(--secondaryColor);
  font-family: var(--roboto);

  p {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    animation-name: text-popin;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
}

.triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  border-bottom: 8vh solid var(--secondaryColor);
}

.triangle_2 {
  position: relative;
  top: 0;
  width: 0;
  height: 0;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  border-top: 8vh solid var(--secondaryColor);
  margin: 0 auto;
}

.welcome-wrapper {
  font-size: 46px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;

  max-height: 80%;

  animation-name: text-popin;
  animation-duration: 1.5s;
  animation-iteration-count: 1;

}

.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  color: var(--secondaryTextColor);

  border: 2px solid var(--secondaryTextColor);
  font-family: var(--oswald);
  font-size: 24px;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.5s;

  text-decoration: none;
}

.btn:hover {
  background-color: var(--specialText);
  cursor: pointer;
}

.project-link {
  color: var(--secondaryTextColor);

  border: 2px solid var(--secondaryTextColor);
  font-family: var(--oswald);
  background-color: var(--backgroundsecondary);
  border-radius: 5px;
  transition: 0.5s;
  width: 95%;
  text-decoration: none;
}

.project-link:hover {
  background-color: var(--buttonBackground);
  cursor: pointer;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  width: 95vw;
  max-width: 95%;

  height: 600px;

  background-color: var(--secondaryColor);

  margin: 0 auto;

  .about-me-box {
    background-color: var(--aboutMeBoxColor);
    
    .about-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      width: 95%;
      max-width: 95%;
  
      height: auto;
      gap: 2px;
  
      
  
      .about-me {
        border-right: 5px solid var(--background);
      }
      .about-me,
      .more-about-me {
        width: 97%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        text-align: left;
        margin: 5px auto;
        max-height: 90%;
  
        .introduce {
          font-size: 42px;
          font-weight: 500;
          font-family: var(--oswald);
        }
  
        .detail {
          font-size: 20px;
          font-family: var(--roboto);
          letter-spacing: 1px;
          margin: auto 5px auto 5px;
        }
      }
    }
    .social-links {
      display: flex;
      justify-content: space-around;
      width: 95%;
      height: auto;
      margin: 10px;
      .fab,
      .fas {
        font-size: 60px;
        color: var(--background);
        opacity: 1;
        transition: 0.2s;
      }
  
      .fab:hover,
      .fas:hover {
        opacity: 0.8;
      }
  
      label {
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        font-family: var(--roboto);
        letter-spacing: 0.5px;
      }
    }
  }
  
}

.portfolio-container {
  display: flex;
  text-align: center;
  align-items: center;

  flex-direction: column;

  width: 95vw;
  max-width: 95%;

  height: auto;

  background-color: var(--secondaryColor);

  margin: 0 auto;

  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    max-width: 95%;
    height: auto;
    gap: 2rem;
    margin-bottom: 100px;
    //background-color: var(--projectWrapperColor);

    .project-container {
      width: 96%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px auto;
      border-radius: 2px;

      .project {
        width: 500px;
        width: 100%;
        height: 700px;
        border-radius: 2px;
        //box-shadow: 0 0 5px 1px var(--backgroundsecondary);
        background-color: var(--projectCard);
        color: var(--secondaryColor);
        .image-container {
          width: 100%;
          height: 55%;
          position: relative;
          opacity: 1;

          :hover {
            transition: all 0.5s ease-in-out;
            opacity: 0.5;
          }
        }

        .description-container {
          margin-left: 5px;
          text-align: left;
          width: 100%;
          height: 45%;
          border-radius: 2px;
          position: relative;

          .project-description {
            height: 100px;
            width: 99%;
            a {
              color: var(--linkColor);
              text-decoration: none;
              transition: 0.1s;
            }
            a:hover {
              
              color: var(--specialText);
            }
          }

          h3 {
            color: var(--secondaryTextColor);

            font-family: var(--oswald);
            margin-top: 2px;
            margin-bottom: 2px;
            border-bottom: 3px solid var(--secondaryColor);
            width: 96%;
            border-radius: 2px;
            letter-spacing: 1px;
          }

          .technology-used {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            overflow-x: scroll;

            width: 96%;

          }

          p {
            color: var(--secondaryTextColor);

            margin: 2px;
            font-size: 15px;
            font-family: var(--roboto);
          }

          ul {
            color: var(--secondaryTextColor);

            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 10px;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
          }

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 2px solid var(--secondaryColor);
            border-radius: 3px;
            gap: 10px;
            padding: 5px 10px;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: 1px;
          }

          .button-container {
            position: absolute;

            bottom: 0;
            gap: 10px;
            margin: 10px auto;
          }

          .link {
            width: 60px;
            max-width: 50%;
            text-align: center;
            color: var(--secondaryTextColor);

            border: 2px solid var(--secondaryTextColor);
            font-family: var(--oswald);
            font-size: 24px;
            background-color: var(--backgroundsecondary);
            border-radius: 5px;
            transition: 0.5s;
            padding: 0 5px 0 5px;
            text-decoration: none;
          }
          .link:hover {
            background-color: var(--specialText);
            cursor: pointer;
          }
        }
      }
    }
    .project-container:hover {
      transform: scale(1.02, 1.02);
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px 2px var(--backgroundsecondary);
    }
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: 0;
  left: 0;
}

.contact-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 95vw;
  max-width: 95%;

  height: auto;
  max-height: 80%;

  /* border: 2px dashed coral; */
  margin: 10px auto;
  padding-bottom: 100px;
  color: var(--secondaryTextColor);

  .title {
    color: var(--secondaryTextColor);
  }

  .contact-form {
    font-family: var(--oswald);
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    width: 600px;
    max-width: 90%;
    padding: 5px;

    border-radius: 5px;

    //background-color: var(--contactForm);
    .name-subject-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    

    .input-field {
      width: 100%;
      padding: 10px 0 10px 0;
      background-color: var(--secondaryTextColor);
      border-radius: 5px;
      border: 1px solid var(--backgroundsecondary);
      font-size: 15px;
    }

    .btn-submit {
      font-family: var(--oswald);
      color: var(--primaryTextColor);
      font-size: 20px;
      width: 100%;
      margin: 10px 0 10px 0;
      background-color: var(--cardBackground);
      border-radius: 5px;
      min-height: 25px;
      transition: 0.3s;
      border: none;
    }
    .btn-submit:hover {
      background-color: var(--secondaryColor);
      color: var(--primaryTextColor);
      cursor: pointer;
      
    }

    textarea {
      min-height: 100px;
    }
  }
}

.footer {
  height: auto;
  background-color: var(--background);
  border-top: 1px solid var(--secondaryColor);
  .footer-info {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .personal-links {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 42px;
    }

    .name {
      text-align: left;
      p {
        font-family: var(--roboto);
        font-size: 20px;
        color: var(--secondaryTextColor);
      }
    }
    .fab, .fas {
      font-size: 24px;
      color: var(--secondaryTextColor);
      transition: 0.2s;
    }

    .fab:hover, .fas:hover {
      opacity: 0.8;
    }
  }
}

.hidden_iframe {
  display: none; 
}
// MEDIA QUERIES

// Desktop
@media screen and (max-width: 1281px) {

  .main-container {
    width: 90%;

    .welcome-wrapper {
      width: 80%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .portfolio-container {
    .project-wrapper {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      width: 90%;

      .project-container {
        width: 100%;

        .project {
          width: 100%;
          height: 620px;

          .description-container {
            .technology-used {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr;
              width: 50%;
            }
            .button-container {
              gap: 10px;
              margin: 10px auto;
            }
            .link {
              width: 100px;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);

              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  h1 {
    font-size: 30px;
  }
}
//////// TECHNOLOGY CONTAINER SCROLLBAR //////////
ul::-webkit-scrollbar {
  height: 12px;
}
ul::-webkit-scrollbar-thumb {
  background-color: var(--backgroundsecondary);

  border-radius: 10px;
}

//////////////////////////////////////////////
// Desktops, Laptops

@media (min-width: 1025px) and (max-width: 1280px) {

  .portfolio-container {
    .project-wrapper {
      grid-template-columns: 1fr 1fr;
      width: 90%;
      .project-container {
        width: 100%;
        .project {
          width: 100%;

          .description-container {
            .button-container {
              gap: 10px;
              margin: 10px auto;
            }
            .link {
              width: 100px;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);

              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Tablets (portrait)
@media (min-width: 768px) and (max-width: 1024px) {

  .portfolio-container {
    .project-wrapper {
      grid-template-columns: 1fr 1fr;
      width: 90%;
      .project-container {
        width: 100%;
        .project {
          width: 100%;
          height: 750px;

          .description-container {
            .technology-used {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              width: 96%;
            }
            .button-container {
              gap: 10px;
              margin: 10px auto;
            }
            .link {
              width: 100px;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);

              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Tablets (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .portfolio-container {
    .project-wrapper {
      grid-template-columns: 1fr 1fr;
      width: 95%;
      .project-container {
        width: 100%;
        .project {
          width: 100%;
          height: 680px;
          .description-container {
            .technology-used {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              width: 96%;
            }
            .button-container {
              gap: 10px;
              margin: 10px auto;
            }
            .link {
              width: 100px;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);

              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {
  .nav-bar {
    display: flex;
    flex-direction: column-reverse;
    li {
      a {
        display: none;
      }
      a.icon {
        float: right;
        display: block;
        padding: 15px;
      }
      
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about-me-container {
    height: auto;
  }
  .nav-bar.hamburger-menu {
    position: relative;
    li {
      display: block;
      text-align: center;
      padding: 5px;
      color: var(--secondaryTextColor);
      text-align: right;
      text-decoration: none;
      transition: 0.25s;
    }
    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      float: none;
      display: block;
      text-align: left;
      font-family: var(--roboto);
      color: var(--secondaryTextColor);
      text-decoration: none;
      padding-right: 3px;
      font-size: 20px;
    }
  }

  .portfolio-container {
    margin-bottom: 25px;
    .project-wrapper {
      grid-template-columns: 1fr;
      width: 90%;
      .project-container {
        width: 100%;
        .project {
          width: 100%;
          height: 800px;
          .description-container {
            .project-description {
              overflow: scroll;
            }
            .technology-used {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              width: 96%;
            }
            .button-container {
              gap: 10px;
              margin: 10px auto;
            }
            .link {
              width: 100px;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);

              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Smartphones (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  .nav-bar {
    display: flex;
    flex-direction: column-reverse;
    li {
      a {
        display: none;
      }
      a.icon {
        float: right;
        display: block;
        padding: 15px;
      }
      
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about-me-container {
    height: auto;
    .about-me-box {
      margin: 15px;
      .about-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        .about-me {
          border-bottom: 5px solid var(--background);
          border-right: none;
        }
      }
    }
    
  }
  .nav-bar.hamburger-menu {
    position: relative;
    li {
      display: block;
      text-align: center;
      padding: 5px;
      color: var(--secondaryTextColor);
      text-align: right;
      text-decoration: none;
      transition: 0.25s;
    }
    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      float: none;
      display: block;
      text-align: left;
      font-family: var(--roboto);
      color: var(--secondaryTextColor);
      text-decoration: none;
      padding-right: 3px;
      font-size: 20px;
    }
  }

  .portfolio-container {
    margin-bottom: 25px;
    .project-wrapper {
      grid-template-columns: 1fr;
      width: 100%;
      
      .project-container {
        max-width: 100%;
        .project {
          width: 100%;
          height: 750px;
          .description-container {
            .project-description {
              overflow: scroll;
            }
            .technology-used {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              width: 96%;
            }
            .button-container {
              
              margin: 10px auto;
              display: flex;
              justify-content: flex-start;
            }
            .link {
              width: 200px;
              max-width: 20%;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);
              
              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              
            }
          }
        }
      }
    }
  }
}

// Galaxy Fold
@media (min-width: 280px) and (max-width: 320px) {
  .nav {
    .nav-bar {
      li {
        a {
          display: none;
        }
        .icon {
          float: right;
          display: block;
        }
      }
    }
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .nav-bar {
    .hamburger-menu {
      position: relative;
      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      a {
        float: none;
        display: block;
        text-align: right;
      }
    }
  }

  .portfolio-container {
    .project-wrapper {
      grid-template-columns: 1fr;
      width: 100%;
      .project-container {
        width: 100%;
        .project {
          width: 90%;

          .description-container {
            .button-container {
              gap: 10px;
              margin: 10px auto;
            }
            .link {
              width: 100px;
              height: 25px;
              text-align: center;
              color: var(--secondaryTextColor);

              border: 2px solid var(--secondaryTextColor);
              font-family: var(--oswald);
              font-size: 20px;
              background-color: var(--backgroundsecondary);
              border-radius: 5px;
              transition: 0.5s;
              padding: 5px 5px;
              text-decoration: none;
            }
            .link:hover {
              background-color: var(--specialText);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}


@keyframes text-popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}