:root {
  --primaryTextColor: #000;
  --secondaryTextColor: #f5f5f5;
  --specialText: #dd417d;
  --specialTest: #3a1b27;
  --mainColor: #333;
  --secondaryColor: #eeeeee;
  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", sans-serif;
  --background: #0d161f;
  --backgroundsecondary: #252934;
  --gradientColor: #1d2129;
  --buttonBackground: #5174a1;
  --cardBackground: #d4d4d4;
  --hoverEffect: #616161;
  --projectCard: #26313d;
  --contactForm: #cccccc;
  --linkColor: #4a79d1;
  --projectWrapperColor: #f5f5f5;
  --aboutMeBoxColor: #ebeff3;
  --inputFieldColor:#ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 46px;
}

ul {
  list-style-type: none;
}

.my-name {
  color: var(--specialText);
}

.title {
  font-family: var(--oswald);
  text-decoration: underline;
}

.nav-bar {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
}

.nav-bar li {
  float: right;
}

.nav-bar li a {
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 15px 15px;
  color: var(--secondaryTextColor);
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-bar li .icon {
  display: none;
}

.nav-bar li a:hover {
  color: var(--specialText);
  text-decoration: underline;
}

.section-0 {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background);
  overflow: auto;
  border-bottom: 1px solid var(--secondaryColor);
  z-index: 1;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, var(--backgroundsecondary)), color-stop(90%, var(--gradientColor)));
  background: linear-gradient(to top, var(--backgroundsecondary) 10%, var(--gradientColor) 90%);
  overflow: auto;
  height: 100vh;
  border-bottom: 1px solid var(--mainColor);
}

#particles-js {
  height: 100%;
  width: 100%;
}

.section-2 {
  overflow: auto;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--backgroundsecondary);
}

.section-3 {
  overflow: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--backgroundsecondary)), color-stop(90%, var(--gradientColor)));
  background: linear-gradient(to bottom, var(--backgroundsecondary) 10%, var(--gradientColor) 90%);
  border-bottom: 1px solid var(--backgroundsecondary);
}

#particles-js {
  width: 100%;
  height: 100%;
}

.main-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: auto;
  margin: 0 auto;
  color: var(--secondaryColor);
  font-family: var(--roboto);
}

.main-container p {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  width: 100%;
  -webkit-animation-name: text-popin;
          animation-name: text-popin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  border-bottom: 8vh solid var(--secondaryColor);
}

.triangle_2 {
  position: relative;
  top: 0;
  width: 0;
  height: 0;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  border-top: 8vh solid var(--secondaryColor);
  margin: 0 auto;
}

.welcome-wrapper {
  font-size: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  max-height: 80%;
  -webkit-animation-name: text-popin;
          animation-name: text-popin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: text-popin;
          animation-name: text-popin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.btn {
  color: var(--secondaryTextColor);
  border: 1px solid var(--secondaryTextColor);
  font-family: var(--oswald);
  font-size: 24px;
  background-color: transparent;
  border-radius: 1px;
  padding: 5px 10px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--specialText);
  border: 1px solid var(--specialText);
  cursor: pointer;
}

.btn:hover .fa-arrow-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-arrow-right {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.project-link {
  color: var(--secondaryTextColor);
  border: 2px solid var(--secondaryTextColor);
  font-family: var(--oswald);
  background-color: var(--backgroundsecondary);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 95%;
  text-decoration: none;
}

.project-link:hover {
  background-color: var(--buttonBackground);
  cursor: pointer;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 95vw;
  max-width: 95%;
  height: 600px;
  background-color: var(--secondaryColor);
  margin: 0 auto;
}

.about-me-container .about-me-box .about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 95%;
  max-width: 95%;
  height: auto;
  gap: 2px;
}

.about-me-container .about-me-box .about-wrapper .about-me {
  border-right: 5px solid var(--background);
}

.about-me-container .about-me-box .about-wrapper .about-me,
.about-me-container .about-me-box .about-wrapper .more-about-me {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 5px auto;
  max-height: 90%;
}

.about-me-container .about-me-box .about-wrapper .about-me .introduce,
.about-me-container .about-me-box .about-wrapper .more-about-me .introduce {
  font-size: 42px;
  font-weight: 500;
  font-family: var(--oswald);
  text-align: justify;
  padding: 25px;
}

.about-me-container .about-me-box .about-wrapper .about-me .detail,
.about-me-container .about-me-box .about-wrapper .more-about-me .detail {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--roboto);
  letter-spacing: 1px;
  margin: auto 5px auto 5px;
}

.about-me-container .about-me-box .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  height: auto;
  margin: 10px;
}

.about-me-container .about-me-box .social-links .fab,
.about-me-container .about-me-box .social-links .fas {
  font-size: 60px;
  color: var(--background);
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-me-container .about-me-box .social-links .fab:hover,
.about-me-container .about-me-box .social-links .fas:hover {
  opacity: 0.8;
}

.about-me-container .about-me-box .social-links label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: var(--roboto);
  letter-spacing: 0.5px;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95vw;
  max-width: 95%;
  height: auto;
  background-color: var(--secondaryColor);
  margin: 0 auto;
}

.portfolio-container .project-select-container {
  display: -ms-grid;
  display: grid;
  gap: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: var(--roboto);
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 2px solid var(--background);
  width: 60%;
  padding: 5px;
  margin: 10px;
}

.portfolio-container .project-select-container div {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.portfolio-container .project-select-container div:hover {
  color: var(--secondaryTextColor);
  border-radius: 10px;
  background-color: var(--specialText);
  cursor: pointer;
}

.portfolio-container .project-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  max-width: 95%;
  height: auto;
  gap: 2rem;
  margin-bottom: 100px;
}

.portfolio-container .project-wrapper .project-container {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px auto;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio-container .project-wrapper .project-container .project {
  width: 500px;
  width: 100%;
  height: 700px;
  border-radius: 10px;
  background-color: var(--projectCard);
  color: var(--secondaryColor);
}

.portfolio-container .project-wrapper .project-container .project .image-container {
  width: 100%;
  height: 55%;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio-container .project-wrapper .project-container .project .image-container:hover {
  opacity: 0.5;
}

.portfolio-container .project-wrapper .project-container .project .description-container {
  margin-left: 5px;
  text-align: left;
  width: 100%;
  height: 45%;
  border-radius: 2px;
  position: relative;
}

.portfolio-container .project-wrapper .project-container .project .description-container .project-description {
  height: 100px;
  width: 99%;
}

.portfolio-container .project-wrapper .project-container .project .description-container .project-description a {
  color: var(--linkColor);
  text-decoration: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.portfolio-container .project-wrapper .project-container .project .description-container .project-description a:hover {
  color: var(--specialText);
}

.portfolio-container .project-wrapper .project-container .project .description-container h3 {
  color: var(--secondaryTextColor);
  font-family: var(--oswald);
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 3px solid var(--secondaryColor);
  width: 96%;
  border-radius: 2px;
  letter-spacing: 1px;
}

.portfolio-container .project-wrapper .project-container .project .description-container .technology-used {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow-x: scroll;
  width: 96%;
}

.portfolio-container .project-wrapper .project-container .project .description-container p {
  color: var(--secondaryTextColor);
  margin: 2px;
  font-size: 15px;
  font-family: var(--roboto);
}

.portfolio-container .project-wrapper .project-container .project .description-container ul {
  color: var(--secondaryTextColor);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 10px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.portfolio-container .project-wrapper .project-container .project .description-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--secondaryColor);
  border-radius: 3px;
  gap: 10px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
}

.portfolio-container .project-wrapper .project-container .project .description-container .button-container {
  position: absolute;
  bottom: 0;
  gap: 10px;
  margin: 10px auto;
}

.portfolio-container .project-wrapper .project-container .project .description-container .link {
  width: 60px;
  max-width: 50%;
  text-align: center;
  color: var(--secondaryTextColor);
  border: 2px solid var(--secondaryTextColor);
  font-family: var(--oswald);
  font-size: 24px;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 5px 0 5px;
  text-decoration: none;
}

.portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
  background-color: var(--specialText);
  cursor: pointer;
}

.portfolio-container .project-wrapper .project-container:hover {
  -webkit-box-shadow: 0 0 6px 3px var(--background);
          box-shadow: 0 0 6px 3px var(--background);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  left: 0;
}

.contact-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95vw;
  max-width: 95%;
  height: auto;
  max-height: 80%;
  /* border: 2px dashed coral; */
  margin: 10px auto;
  padding-bottom: 100px;
  color: var(--secondaryTextColor);
}

.contact-me-container .title {
  color: var(--secondaryTextColor);
}

.contact-me-container .contact-form {
  font-family: var(--oswald);
  letter-spacing: 1px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 600px;
  max-width: 90%;
  padding: 5px;
  border-radius: 5px;
}

.contact-me-container .contact-form .name-subject-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact-me-container .contact-form .input-field {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: var(--inputFieldColor);
  border-radius: 5px;
  border: 1px solid var(--backgroundsecondary);
  font-size: 15px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.contact-me-container .contact-form .input-field:hover {
  background-color: var(--cardBackground);
}

.contact-me-container .contact-form .btn-submit {
  font-family: var(--oswald);
  color: var(--primaryTextColor);
  font-size: 20px;
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  min-height: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}

.contact-me-container .contact-form .btn-submit:hover {
  background-color: transparent;
  color: var(--secondaryTextColor);
  cursor: pointer;
}

.contact-me-container .contact-form textarea {
  min-height: 100px;
}

.footer {
  height: auto;
  background-color: var(--background);
  border-top: 1px solid var(--secondaryColor);
}

.footer .footer-info {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
}

.footer .footer-info .personal-links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}

.footer .footer-info .name {
  text-align: left;
}

.footer .footer-info .name p {
  font-family: var(--roboto);
  font-size: 20px;
  color: var(--secondaryTextColor);
}

.footer .footer-info .fab, .footer .footer-info .fas {
  font-size: 24px;
  color: var(--secondaryTextColor);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer-info .fab:hover, .footer .footer-info .fas:hover {
  opacity: 0.8;
}

.hidden_iframe {
  display: none;
}

@media screen and (max-width: 1281px) {
  .main-container {
    width: 90%;
  }
  .main-container .welcome-wrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .portfolio-container .project-select-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 90%;
  }
  .portfolio-container .project-wrapper .project-container {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 100%;
    height: 620px;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .technology-used {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    gap: 10px;
    margin: 10px auto;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 100px;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
    cursor: pointer;
  }
  h1 {
    font-size: 30px;
  }
}

ul::-webkit-scrollbar {
  height: 12px;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 10px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
  }
  .portfolio-container .project-wrapper .project-container {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    gap: 10px;
    margin: 10px auto;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 100px;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
  }
  .portfolio-container .project-wrapper .project-container {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 100%;
    height: 750px;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .technology-used {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    gap: 10px;
    margin: 10px auto;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 100px;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 95%;
  }
  .portfolio-container .project-wrapper .project-container {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 100%;
    height: 680px;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .technology-used {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    gap: 10px;
    margin: 10px auto;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 100px;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
    cursor: pointer;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nav-bar li a {
    display: none;
  }
  .nav-bar li a.icon {
    float: right;
    display: block;
    padding: 15px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about-me-container {
    height: auto;
  }
  .about-me-container .about-me-box {
    margin: 15px;
  }
  .about-me-container .about-me-box .about-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-me-container .about-me-box .about-wrapper .about-me {
    border-bottom: 5px solid var(--background);
    border-right: none;
  }
  .nav-bar.hamburger-menu {
    position: relative;
  }
  .nav-bar.hamburger-menu li {
    display: block;
    text-align: center;
    padding: 5px;
    color: var(--secondaryTextColor);
    text-align: right;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .nav-bar.hamburger-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.hamburger-menu a {
    float: none;
    display: block;
    text-align: left;
    font-family: var(--roboto);
    color: var(--secondaryTextColor);
    text-decoration: none;
    padding-right: 3px;
    font-size: 20px;
  }
  .portfolio-container {
    margin-bottom: 25px;
  }
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
  }
  .portfolio-container .project-wrapper .project-container {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 100%;
    height: 800px;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .project-description {
    overflow: scroll;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .technology-used {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    gap: 10px;
    margin: 10px auto;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 100px;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
    cursor: pointer;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nav-bar li a {
    display: none;
  }
  .nav-bar li a.icon {
    float: right;
    display: block;
    padding: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about-me-container {
    height: auto;
  }
  .about-me-container .about-me-box {
    margin: 15px;
  }
  .about-me-container .about-me-box .about-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-me-container .about-me-box .about-wrapper .about-me {
    border-bottom: 5px solid var(--background);
    border-right: none;
  }
  .nav-bar.hamburger-menu {
    position: relative;
  }
  .nav-bar.hamburger-menu li {
    display: block;
    text-align: center;
    padding: 5px;
    color: var(--secondaryTextColor);
    text-align: right;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .nav-bar.hamburger-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.hamburger-menu a {
    float: none;
    display: block;
    text-align: left;
    font-family: var(--roboto);
    color: var(--secondaryTextColor);
    text-decoration: none;
    padding-right: 3px;
    font-size: 20px;
  }
  .portfolio-container {
    margin-bottom: 25px;
  }
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container {
    max-width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 100%;
    height: 750px;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .project-description {
    overflow: scroll;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .technology-used {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    width: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 200px;
    max-width: 20%;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .nav .nav-bar li a {
    display: none;
  }
  .nav .nav-bar li .icon {
    float: right;
    display: block;
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .nav-bar .hamburger-menu {
    position: relative;
  }
  .nav-bar .hamburger-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar .hamburger-menu a {
    float: none;
    display: block;
    text-align: right;
  }
  .portfolio-container .project-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container {
    width: 100%;
  }
  .portfolio-container .project-wrapper .project-container .project {
    width: 90%;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .button-container {
    gap: 10px;
    margin: 10px auto;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link {
    width: 100px;
    height: 25px;
    text-align: center;
    color: var(--secondaryTextColor);
    border: 2px solid var(--secondaryTextColor);
    font-family: var(--oswald);
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px;
    text-decoration: none;
  }
  .portfolio-container .project-wrapper .project-container .project .description-container .link:hover {
    background-color: var(--specialText);
    cursor: pointer;
  }
}

@-webkit-keyframes text-popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */